.vscode/launch.json
.idea/
.ipynb_checkpoints/Victor_Vazquez_AG1-checkpoint.ipynb
Ejercicios/.ipynb_checkpoints/Plantilla_Seminario_Algoritmos-checkpoint.ipynb
Ejercicios/__pycache__/
.ipynb_checkpoints/
